cc1,
cc1-1,
cc1-2,
cc1-3,
cc2-3,
cc1-4,
cc3-4,
cc1-6,
cc5-6,
cc1-8,
cc3-8,
cc5-8,
cc7-8,
cc1-12,
cc5-12,
cc7-12,
cc11-12,
cc1-24,
cc2-24,
cc3-24,
cc4-24,
cc5-24,
cc6-24,
cc7-24,
cc8-24,
cc9-24,
cc10-24,
cc11-24,
cc12-24,
cc13-24,
cc14-24,
cc15-24,
cc16-24,
cc17-24,
cc18-24,
cc19-24,
cc20-24,
cc21-24,
cc22-24,
cc23-24,
cc24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

cc1-24 {
    width: 4.1667%;
    *width: 4.1357%;
}

cc1-12,
cc2-24 {
    width: 8.3333%;
    *width: 8.3023%;
}

cc1-8,
cc3-24 {
    width: 12.5000%;
    *width: 12.4690%;
}

cc1-6,
cc4-24 {
    width: 16.6667%;
    *width: 16.6357%;
}

cc5-24 {
    width: 20.8333%;
    *width: 20.8023%;
}

cc1-4,
cc6-24 {
    width: 25%;
    *width: 24.9690%;
}

cc7-24 {
    width: 29.1667%;
    *width: 29.1357%;
}

cc1-3,
cc8-24 {
    width: 33.3333%;
    *width: 33.3023%;
}

cc3-8,
cc9-24 {
    width: 37.5000%;
    *width: 37.4690%;
}

cc5-12,
cc10-24 {
    width: 41.6667%;
    *width: 41.6357%;
}

cc11-24 {
    width: 45.8333%;
    *width: 45.8023%;
}

cc1-2,
cc12-24 {
    width: 50%;
    *width: 49.9690%;
}

cc13-24 {
    width: 54.1667%;
    *width: 54.1357%;
}

cc7-12,
cc14-24 {
    width: 58.3333%;
    *width: 58.3023%;
}

cc5-8,
cc15-24 {
    width: 62.5000%;
    *width: 62.4690%;
}

cc2-3,
cc16-24 {
    width: 66.6667%;
    *width: 66.6357%;
}

cc17-24 {
    width: 70.8333%;
    *width: 70.8023%;
}

cc3-4,
cc18-24 {
    width: 75%;
    *width: 74.9690%;
}

cc19-24 {
    width: 79.1667%;
    *width: 79.1357%;
}

cc5-6,
cc20-24 {
    width: 83.3333%;
    *width: 83.3023%;
}

cc7-8,
cc21-24 {
    width: 87.5000%;
    *width: 87.4690%;
}

cc11-12,
cc22-24 {
    width: 91.6667%;
    *width: 91.6357%;
}

cc23-24 {
    width: 95.8333%;
    *width: 95.8023%;
}

cc1,
cc1-1,
cc24-24 {
    width: 100%;
}

@media screen and (min-width: 35.5em) {
    ccsm-1,
    ccsm-1-1,
    ccsm-1-2,
    ccsm-1-3,
    ccsm-2-3,
    ccsm-1-4,
    ccsm-3-4,
    ccsm-1-6,
    ccsm-5-6,
    ccsm-1-8,
    ccsm-3-8,
    ccsm-5-8,
    ccsm-7-8,
    ccsm-1-12,
    ccsm-5-12,
    ccsm-7-12,
    ccsm-11-12,
    ccsm-1-24,
    ccsm-2-24,
    ccsm-3-24,
    ccsm-4-24,
    ccsm-5-24,
    ccsm-6-24,
    ccsm-7-24,
    ccsm-8-24,
    ccsm-9-24,
    ccsm-10-24,
    ccsm-11-24,
    ccsm-12-24,
    ccsm-13-24,
    ccsm-14-24,
    ccsm-15-24,
    ccsm-16-24,
    ccsm-17-24,
    ccsm-18-24,
    ccsm-19-24,
    ccsm-20-24,
    ccsm-21-24,
    ccsm-22-24,
    ccsm-23-24,
    ccsm-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    ccsm-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    ccsm-1-12,
    ccsm-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    ccsm-1-8,
    ccsm-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    ccsm-1-6,
    ccsm-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    ccsm-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    ccsm-1-4,
    ccsm-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    ccsm-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    ccsm-1-3,
    ccsm-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    ccsm-3-8,
    ccsm-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    ccsm-5-12,
    ccsm-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    ccsm-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    ccsm-1-2,
    ccsm-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    ccsm-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    ccsm-7-12,
    ccsm-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    ccsm-5-8,
    ccsm-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    ccsm-2-3,
    ccsm-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    ccsm-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    ccsm-3-4,
    ccsm-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    ccsm-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    ccsm-5-6,
    ccsm-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    ccsm-7-8,
    ccsm-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    ccsm-11-12,
    ccsm-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    ccsm-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    ccsm-1,
    ccsm-1-1,
    ccsm-24-24 {
        width: 100%;
    }
}

@media screen and (min-width: 48em) {
    ccmd-1,
    ccmd-1-1,
    ccmd-1-2,
    ccmd-1-3,
    ccmd-2-3,
    ccmd-1-4,
    ccmd-3-4,
    ccmd-1-6,
    ccmd-5-6,
    ccmd-1-8,
    ccmd-3-8,
    ccmd-5-8,
    ccmd-7-8,
    ccmd-1-12,
    ccmd-5-12,
    ccmd-7-12,
    ccmd-11-12,
    ccmd-1-24,
    ccmd-2-24,
    ccmd-3-24,
    ccmd-4-24,
    ccmd-5-24,
    ccmd-6-24,
    ccmd-7-24,
    ccmd-8-24,
    ccmd-9-24,
    ccmd-10-24,
    ccmd-11-24,
    ccmd-12-24,
    ccmd-13-24,
    ccmd-14-24,
    ccmd-15-24,
    ccmd-16-24,
    ccmd-17-24,
    ccmd-18-24,
    ccmd-19-24,
    ccmd-20-24,
    ccmd-21-24,
    ccmd-22-24,
    ccmd-23-24,
    ccmd-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    ccmd-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    ccmd-1-12,
    ccmd-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    ccmd-1-8,
    ccmd-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    ccmd-1-6,
    ccmd-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    ccmd-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    ccmd-1-4,
    ccmd-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    ccmd-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    ccmd-1-3,
    ccmd-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    ccmd-3-8,
    ccmd-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    ccmd-5-12,
    ccmd-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    ccmd-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    ccmd-1-2,
    ccmd-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    ccmd-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    ccmd-7-12,
    ccmd-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    ccmd-5-8,
    ccmd-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    ccmd-2-3,
    ccmd-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    ccmd-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    ccmd-3-4,
    ccmd-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    ccmd-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    ccmd-5-6,
    ccmd-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    ccmd-7-8,
    ccmd-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    ccmd-11-12,
    ccmd-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    ccmd-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    ccmd-1,
    ccmd-1-1,
    ccmd-24-24 {
        width: 100%;
    }
}

@media screen and (min-width: 64em) {
    cclg-1,
    cclg-1-1,
    cclg-1-2,
    cclg-1-3,
    cclg-2-3,
    cclg-1-4,
    cclg-3-4,
    cclg-1-6,
    cclg-5-6,
    cclg-1-8,
    cclg-3-8,
    cclg-5-8,
    cclg-7-8,
    cclg-1-12,
    cclg-5-12,
    cclg-7-12,
    cclg-11-12,
    cclg-1-24,
    cclg-2-24,
    cclg-3-24,
    cclg-4-24,
    cclg-5-24,
    cclg-6-24,
    cclg-7-24,
    cclg-8-24,
    cclg-9-24,
    cclg-10-24,
    cclg-11-24,
    cclg-12-24,
    cclg-13-24,
    cclg-14-24,
    cclg-15-24,
    cclg-16-24,
    cclg-17-24,
    cclg-18-24,
    cclg-19-24,
    cclg-20-24,
    cclg-21-24,
    cclg-22-24,
    cclg-23-24,
    cclg-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    cclg-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    cclg-1-12,
    cclg-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    cclg-1-8,
    cclg-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    cclg-1-6,
    cclg-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    cclg-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    cclg-1-4,
    cclg-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    cclg-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    cclg-1-3,
    cclg-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    cclg-3-8,
    cclg-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    cclg-5-12,
    cclg-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    cclg-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    cclg-1-2,
    cclg-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    cclg-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    cclg-7-12,
    cclg-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    cclg-5-8,
    cclg-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    cclg-2-3,
    cclg-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    cclg-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    cclg-3-4,
    cclg-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    cclg-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    cclg-5-6,
    cclg-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    cclg-7-8,
    cclg-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    cclg-11-12,
    cclg-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    cclg-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    cclg-1,
    cclg-1-1,
    cclg-24-24 {
        width: 100%;
    }
}

@media screen and (min-width: 80em) {
    ccxl-1,
    ccxl-1-1,
    ccxl-1-2,
    ccxl-1-3,
    ccxl-2-3,
    ccxl-1-4,
    ccxl-3-4,
    ccxl-1-6,
    ccxl-5-6,
    ccxl-1-8,
    ccxl-3-8,
    ccxl-5-8,
    ccxl-7-8,
    ccxl-1-12,
    ccxl-5-12,
    ccxl-7-12,
    ccxl-11-12,
    ccxl-1-24,
    ccxl-2-24,
    ccxl-3-24,
    ccxl-4-24,
    ccxl-5-24,
    ccxl-6-24,
    ccxl-7-24,
    ccxl-8-24,
    ccxl-9-24,
    ccxl-10-24,
    ccxl-11-24,
    ccxl-12-24,
    ccxl-13-24,
    ccxl-14-24,
    ccxl-15-24,
    ccxl-16-24,
    ccxl-17-24,
    ccxl-18-24,
    ccxl-19-24,
    ccxl-20-24,
    ccxl-21-24,
    ccxl-22-24,
    ccxl-23-24,
    ccxl-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    ccxl-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    ccxl-1-12,
    ccxl-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    ccxl-1-8,
    ccxl-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    ccxl-1-6,
    ccxl-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    ccxl-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    ccxl-1-4,
    ccxl-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    ccxl-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    ccxl-1-3,
    ccxl-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    ccxl-3-8,
    ccxl-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    ccxl-5-12,
    ccxl-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    ccxl-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    ccxl-1-2,
    ccxl-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    ccxl-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    ccxl-7-12,
    ccxl-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    ccxl-5-8,
    ccxl-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    ccxl-2-3,
    ccxl-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    ccxl-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    ccxl-3-4,
    ccxl-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    ccxl-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    ccxl-5-6,
    ccxl-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    ccxl-7-8,
    ccxl-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    ccxl-11-12,
    ccxl-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    ccxl-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    ccxl-1,
    ccxl-1-1,
    ccxl-24-24 {
        width: 100%;
    }
}
